@model IEnumerable<Frecuento2.Models.Tipo_Servicio>

<div class="form-group chkMulti">
    @foreach (var item in Model)
    {
        <div class="chk">
        <input type="checkbox" value= @item.Id_Tipo_Servicio name="chkService" /> @item.Descripción

</div>    
    }
</div>

