@{
    ViewBag.Title = "Buscador";
}
@model IEnumerable<Frecuento2.Models.CompanyViewModel>
<h2>Buscador</h2>

<div class="col-sm-12 Main">
    <div class="col-sm-2">
        <div class="form-group">
            @Html.DropDownList("drpEvent", new SelectList(ViewBag.EventList, "Id_Tipo_Evento", "Descripción"),"Select Event",  htmlAttributes : new { @class = "form-control" })
        </div>
        <br />
        <div class="form-group">
            <label>filtros</label>
        </div>
        <div id="chklist" class="form-group">
        </div>
        <div>
            <button type="button" id="btnSearch" class="btn btn-primary btn-sm">FETCHA DEL EVENTO</button>
        </div>

    </div>
    <div class="col-sm-6 company-main ">
        <div id="empty-company">
            No Empresa 
        </div>
        <div id="dv-company" class="">
                @{Html.RenderPartial("_CompanyList",Model);}
        </div>
    </div>
    <div class="dv-cart col-sm-3">
        <div class="dv-cart-heading">
            <label>carrito</label>
        </div>
        <div class="cart-detail">
            <div class="hidden">
                <label>Precio Base:</label>
                <span id="span-base" class="pull-right">0</span>
                <br />
                <label>Precio Servicio:</label>
                <span id="span-servicio" class="pull-right">0</span>
            </div>
            <div id="dv-cart-detail">

            </div>
        </div>
        <div class="dv-cart-total ">
            
            <label>Total</label>
            <span class="cart-total pull-right">0
        </div>
        <div class="dv-cart-total ">
            <hr />
            <label>Fecha</label>
                
            <input type="date" class="pull-right" id="dtFecha"/>
        </div>
        <br />
        <div class="text-center">
            <button class="btn btn-success " onclick="CheckOut()">Boton de compra</button>
        </div>
<br />
        <div class="text-center">
            <button class="btn btn-primary " onclick="ClearCart()">Claro carrito</button>
        </div>
    </div>
    <br />
    <br />
</div>

@section Scripts {
    <script>
        var evenserIds = [];
        var serviceURL = '/Clientes/BindCheckboxForService';
        var bindCompany = '/Clientes/Buscador';
        var checkoutURL = '/Clientes/CheckOut';
        var companyURL = '/Clientes/BindCompany';
        function BindDate() {
            var now = new Date();

            var day = ("0" + now.getDate()).slice(-2);
            var month = ("0" + (now.getMonth() + 1)).slice(-2);

            var today = now.getFullYear() + "-" + (month) + "-" + (day);
            $("#dtFecha").val(today);
        }
        $(document).ready(function () {
            $("#empty-company").hide();
            //BindCheckBox();
            BindDate();

            $('#drpEvent').change(function () {
                BindCheckBox();

            });

            $('#btnSearch').click(function () {
                BindCompany();
            });

        });

        function BindCheckBox() {
            if ($('#drpEvent').val() != null && $('#drpEvent').val() > 0) {
                var param = { eventId: $('#drpEvent').val() };
                $.ajax({
                    type: "GET",
                    url: serviceURL,
                    data: param,
                    success: function (data) {
                        $("#chklist").html(data);
                        BindCompany();
                    },
                    error: function (ex) {
                        alert();
                    }
                });
            }
            else {
                var param = { fromUI: true };
                $.ajax({
                    type: "GET",
                    url: bindCompany,
                    data: param,
                    success: function (data) {
                        $("#chklist").html('');
                        $("#dv-company").html(data);

                        if (data.length > 60) {
                            $("#empty-company").hide();
                        }
                        else {
                            $("#empty-company").show();
                        }
                    },
                    error: function (ex) {
                        alert();
                    }
                });
            }
        }

        function BindCompany() {
            var chkService = [];
            $.each($("input[name='chkService']:checked"), function () {
                chkService.push($(this).val());
            });

            if (true) {
                var ser = chkService.join(",");

                var param = { serviceIds: ser, eventId: $('#drpEvent').val() };
                $.ajax({
                    type: "GET",
                    url: companyURL,
                    data: param,
                    success: function (data) {
                        $("#dv-company").html(data);
                        if (data.length > 60) {
                            $("#empty-company").hide();
                        }
                        else {
                            $("#empty-company").show();
                        }
                    },
                    error: function (ex) {
                        alert();
                    }
                });
            }
        }

        function btnAddCompany(e) {
            //Generate Div

            var eventName = $(e).parent().parent().find(".span-event-name").text();
            var base = parseInt($("#span-base").text());
            var servicio = parseInt($("#span-servicio").text());
            var baseElement = $(e).prev().prev().text().trim()
            var servicioElement = $(e).prev().text().trim();
            base += parseInt(baseElement);
            servicio += parseInt(servicioElement);

            var Evenempre_Id = $(e).prev().prev().prev().text().trim();

            var content = '<div class="dv-carrito"><label>' + eventName + ' Precio Base : </label>' +
                           '<span class="pull-right">' + baseElement + '</span><br />' +
                           '<label>' + eventName + 'Precio Servicio : </label>' +
                           '<span class="pull-right dv-servicio">' + servicioElement + '</span> <span class="hidden Evenempre_Id">' + Evenempre_Id + '</span></div><hr />';

            $("#dv-cart-detail").append(content);
            $("#span-base").text(base);
            $("#span-servicio").text(servicio);
            $(".cart-total").text(servicio + base);
            evenserIds.push($(e).prev().prev().prev().text().trim());
        }
        function ClearCart() {
            $(".cart-total").text('0');
            $("#span-base").text('0');
            $("#span-servicio").text('0');
            $("#dv-cart-detail").html('');
            BindDate();
        }
        function CheckOut() {
            var numItems = $('.dv-carrito').length;
            if (numItems == undefined || numItems == 0) {
                return;
            }
            if (!confirm('Are you sure that you want to purchase the elements selected?')) {
                return;
            }
           

            $('.dv-carrito').each(function (i, obj) {
                var Evenempre_Id=$(obj).find('.Evenempre_Id').text()
                var serviceTotal = $(obj).find('.dv-servicio').text();
                var Fecha = $("#dtFecha").val();

                var param = { Evenempre_Id: Evenempre_Id, serviceTotal: serviceTotal, Fecha: Fecha };
                $.ajax({
                    type: "Post",
                    url: checkoutURL,
                    data: param,
                    async:false,
                    success: function (data) {
                        if (data.success == "true") {
                        }
                    },
                    error: function (ex) {
                        alert();
                    }
                });
            });
            
            $("#dv-company").html('');
            BindCheckBox();
            //$("#empty-company").show();
            ClearCart();
            evenserIds = [];
            //location.reload();
        }
    </script>
}