@{
    ViewBag.Title = "Contact";
}
<h2>Contacto</h2>


<address>
    <div class="row">
        <div class="col-4" style="float: left; margin: auto; padding: 45px;">
            <h3>Oficinas Work Center</h3>
            <p class"adrress"><strong>Dirección:</strong>Rambla de Méndez Núñez, 39, 2º Izda.</p>
            <p class"adrress"><strong>Despacho:</strong>22.</p>
            <p class"adrress"><strong>Teléfono:</strong>629268293.</p>
            <p><strong>Email:</strong>   <a href="mailto:Frecuento@Empresa.es">Frecuento@frecuento.es</a></p>  <br />
            <p class"adrress"><strong>Horario de oficina:</strong>De Lunes a Viernes de 9 a 14 y 17 a 20.</p>
        </div>
        <div class="col-8">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3129.099057136442!2d-0.4870557852506097!3d38.346689279659294!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd6237b2719c6a9b%3A0x3a2a95302c7651c8!2zUmFtYmxhIE3DqW5kZXogTsO6w7FleiwgMzksIDAzMDAyIEFsaWNhbnRl!5e0!3m2!1ses!2ses!4v1549921287435"
                    width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>
</address>

