@model IEnumerable<Frecuento2.Models.Tipo_Servicio>

<div class="form-group chkMulti">
    @foreach (var item in Model)
    {
        <div class="chk">
        <input type="checkbox" value= '@item.Descripción' name="chkService" class="chk-Service" onclick="BindCompany()" /> @item.Descripción

</div>    
    }
</div>