@{
    ViewBag.Title = "About";
}
<style>


    .contendor {
        margin: auto;
    }
</style>

<h2 style="text-align:center; font-family:'Gill Sans', 'Gill Sans MT', 'Trebuchet MS'; color:#88640D; font-size:44px;">Historia</h2>


<p>
    Frecuento surge en un supuesto integrador en un Instituto de Alicante (IES Mare Nostrum). Cuando uno de los profesores nos propone esta práctica.
</p>
<p>
    Quería incorporar mi trabajo actual en hostelería y mis conceptos aprendidos en el módulo en una sola idea, además de sacar algo novedoso en ambos sectores.
</p>
<p>
    Cuando me quise dar cuenta ya estaba programando, para sacar adelante este proyecto cada día con más ambición y ganas.
</p>
<p>
    La base de Frecuento es unir un cliente que quiere buscar dar un evento,
    con la empresa más idónea para llevarlo a cabo, algo que a día de hoy no existía. Y con ello suplo un vacío en este sector.
</p>
<p>Somos una empresa con ganas de mejorar y dar el mejor servicio a nuestros clientes.</p>
<p>Gracias por contar con nuestros para ayudarte a celebrar tu evento. </p>


<div id="contenedor">
    <img id="imagen" src="~/Content/about.jpg" alt="logo" style="padding-left:51px; padding-top:50px; padding-bottom:50px;" />
</div>
