@{
    ViewBag.Title = "About";
}
<h2>Sobre Frecuento</h2>


<p>
    Frecuento surgue en un supuesto integrador en un Instituto de Alicante (IES Mare Nostrum).Cuando uno
    de los profesores nos propone esta práctica.
</p>
<p>
    Quería incoporar mi trabajo actual en hosteleria y mis conceptos aprendidos en el módulo en una sola idea, además de sacar algo
    novedoso en ambos sectores.
</p>
<p>
    Cuando me quise dar cuenta ya estaba programando, para sacar adelante este proyecto cada dia con mas ambición y ganas.
</p>
<p>
    La base de Frecuento es unir un cliente que quiere buscar dar un evento, con la empresa mas idonea para llevarlo a cabo
    , algo que a dia de hoy no existia. Y con ello suplo un vacio en este sector.
</p>
<p>Somos una empresa con ganas de mejorar y dar el mejor servicio a nuestros clientes.</p>
<p>Gracias por contar con nuestros para ayudarte a celebrar tu evento.</p>

