@{
    ViewBag.Title = "Contact";
}
<h2>Contacto</h2>
<h3>Oficinas Work Center</h3>

<address>
    <p class"adrress"><strong>Dirección:</strong>Rambla de Méndez Núñez, 39, 2º Izda.</p>
    <p class"adrress"><strong>Despacho:</strong>22.</p>
    <p class"adrress"><strong>Teléfono:</strong>629268293.</p>
    <p><strong>Email:</strong>   <a href="mailto:Frecuento@Empresa.es">Frecuento@frecuento.es</a></p>  <br />
    <p class"adrress"><strong>Horario de oficina:</strong>De Lunes a Viernes de 9 a 14 y 17 a 20.</p>
</address>

