@{
    ViewBag.Title = "Home Page";
}

<style>

 
    .contendor{
        margin:auto;
    }
</style>

<div id="contenedor">
    <img id="imagen" src="~/Content/Logotipo.png" alt="logo" style="padding-left:296px; padding-top:50px; padding-bottom:50px;" />
</div>