@{
    ViewBag.Title = "Vistas";
    Layout = "~/Views/Shared/_LayoutCliente.cshtml";
}


<style>
    .imagen{
        width:371px;
        height:200px;
    }
    h1 {
        text-align: center;
        color: #88640D
    }
    .empre{
        font-weight:bold;
        text-align:center;
    }
</style>
<div>
    <h1>Empresas</h1>
  
</div>

<div>
    <section>
        <div class="row">

            <div class="col-md-4">
                <img src="~/Content/jardinade.jpeg" class="imagen" alt="foto">
                <h5 class="empre">Eventos Jardinade</h5>
            </div>
            <div class="col-md-4">
                <img src="~/Content/murri.jpg" class="imagen" alt="foto">
                <h5 class="empre">Murry Eventos</h5>
            </div>
            <div class="col-md-4">
                <img src="~/Content/qlinaria.jpg" class="imagen" alt="foto">
                <h5 class="empre">Qlianria Catering</h5>
            </div>
        </div>
        <br />
        <br />
        <div class="row">
            <div class="col-md-4">
                <img src="~/Content/juan23.jpg" class="imagen" alt="foto">
                <h5 class="empre">Juan XXIII</h5>
            </div>
            <div class="col-md-4">
                <img src="~/Content/babel.jpg" class="imagen" alt="foto">
                <h5 class="empre">Babel Catering</h5>
            </div>
            <div class="col-md-4">
                <img src="~/Content/altozano.jpg" class="imagen" alt="foto">
                <h5 class="empre">Altozano Eventos</h5>
            </div>
        </div>
        <br />
        <br />
        <div class="row">
            <div class="col-md-4">
                <img src="~/Content/dalua.jpg" class="imagen" alt="foto">
                <h5 class="empre">Dalua catering</h5>
            </div>
            <div class="col-md-4">
                <img src="~/Content/maestral.jpg" class="imagen" alt="foto">
                <h5 class="empre">Grupo Maestral</h5>
            </div>
            <div class="col-md-4">
                <img src="~/Content/mediterranea.jpg" class="imagen" alt="foto">
                <h5 class="empre">Mediterranea Alacant</h5>
            </div>
        </div>
        <br />
        <br />
        <div class="row">
            <div class="col-md-4">
                <img src="~/Content/laCreme.png" class="imagen" alt="foto">
                <h5 class="empre">La Creme Catering</h5>
            </div>
            <div class="col-md-4">
                <img src="~/Content/bohodon.jpg" class="imagen" alt="foto">
                <h5 class="empre">Bohodón Restauración</h5>
            </div>
            <div class="col-md-4">
                <img src="~/Content/terreta.jpg" class="imagen" alt="foto">
                <h5 class="empre">Terreta Sabors</h5>
            </div>
        </div>
        <br />
        <br />
    </section>
    </div>
