@{
    ViewBag.Title = "Vistas";
}


<style>
    #imagen{
        width:200px;
        height:200px;
    }
</style>
<div>
    <h1>Empresas</h1>
  
</div>

<div>
    <section>
        <div class="row">
          
                <div class="col-md-4">
                    <img src="~/Content/jardinade.jpeg" class="imagen" alt="foto">
                        <h5 class="">Eventos Jardinade</h5>
                </div>
                <div class="col-md-4">
                    <img src="~/Content/murri.jpg" class="imagen" alt="foto">
                        <h5 class="card-title">Murry Eventos</h5>
                </div>
                <div class="col-md-4">
                    <img src="~/Content/qlinaria.jpg" class="imagen" alt="foto">
                        <h5 class="card-title">Qlianria Catering</h5> 
                </div>
        </div>
        <div class="row">
                <div class="col-md-4">
                    <img src="~/Content/juan23.jpg" class="imagen" alt="foto">
                        <h5 class="card-title">Juan XXIII</h5>
                </div>
                <div class="col-md-4">
                    <img src="~/Content/babel.jpg" class="imagen" alt="foto">
                        <h5 class="card-title">Babel Catering</h5>
                </div>
                <div class="col-md-4">
                    <img src="~/Content/altozano.jpg" class="imagen" alt="foto">
                        <h5 class="card-title">Altozano Eventos</h5>
                </div>
        </div>
        <div class="row">
                <div class="col-md-4">
                    <img src="~/Content/dalua.jpg" class="imagen" alt="foto">
                        <h5 class="">Dalua catering</h5>
                </div>
                <div class="col-md-4">
                    <img src="~/Content/maestral.jpg" class="imagen" alt="foto">
                        <h5 class="card-title">Grupo Maestral</h5>
                </div>
                <div class="col-md-4">
                    <img src="~/Content/mediterranea.jpg" class="imagen" alt="foto">
                        <h5 class="card-title">Mediterranea Alacant</h5>
                </div>
        </div>
        <div class="row">
                <div class="col-md-4">
                    <img src="~/Content/laCreme.png" class="imagen" alt="foto"> 
                        <h5 class="card-title">La Creme Catering</h5> 
                </div>
                <div class="col-md-4">
                    <img src="~/Content/bohodon.jpg" class="imagen" alt="foto">
                        <h5 class="card-title">Bohodón Restauración</h5>
                </div>
                <div class="col-md-4">
                    <img src="~/Content/terreta.jpg" class="imagen" alt="foto">
                        <h5 class="">Terreta Sabors</h5>
                </div>
        </div>
    </section>
    </div>
